.filter {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin: 0 5px;
  min-width: 85px;
  width: max-content;
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  &:first-child {
    margin-left: 0px;
  }
  .filter-title {
    color: #605e5c;
    padding: 0 30px 0 5px;
    pointer-events: none;
    white-space: nowrap;
  }
  .toggle_button {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 2;
    cursor: pointer;
  }
  .filter-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 50%;
    background: url("/Dev_test-react/Ic_Arrow_Right.svg");
    background-size: contain;
    transition: all 0.5s;
    transform: translateY(-50%) rotate(90deg);
    &.rotated {
      transform: translateY(-50%) rotate(270deg);
    }
  }
}

.dropdown-list {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 320px;
  min-height: 150px;
  height: max-content;
  background: #fafaf8;
  box-shadow: 0px 0px 11.3px 2px #97979740;
  padding: 13px;
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s;
  * {
    transition: all 0.25s;
    opacity: 1;
  }
  &.hidden {
    width: 0px;
    opacity: 0;
    padding: 0px;
    * {
      opacity: 0;
    }
  }
}

.sortType .dropdown-list {
  left: auto;
  right: 0px;
}

.dropdown-list {
  .list-head {
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: relative;
    padding: 0 20px;
    &::before {
      position: absolute;
      content: " ";
      bottom: 0px;
      width: 100%;
      left: 0px;
      height: 1px;
      background: #e3e3e3;
    }
    .part {
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      &.reset {
        position: relative;
        cursor: pointer;
        &::before {
          position: absolute;
          bottom: 10px;
          width: 120%;
          left: -10%;
          content: " ";
          background: #605e5c;
          height: 1px;
        }
      }
    }
  }
  .checkboxes,
  .radioInputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    label {
      display: flex;
      justify-content: flex-start;
      color: #212322;
      cursor: pointer;
      input {
        width: 16px;
        height: 16px;
      }
    }
    input[type="range"] {
      width: 200px;
      margin: 10px 0 0;
    }
    .submit-button {
      width: 120px;
      margin: 0 auto;
      border: 0px;
      border-radius: 5px;
      background: #efefef;
      height: 27px;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        transform: translateY(-2px) scale(0.99);
        background: #e3e3e3;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .filter{
    height: max-content;
    min-height: 42px;
    background: #fafaf8;
    overflow: hidden;
    .filter-arrow.rotated {
      transform: translateY(-50%) rotate(270deg);
      right: 211px;
  }
  }
  .dropdown-list {
    position: static;
    min-height: 42px;
    height: 100px;
    overflow: hidden;
    width: 180px;
    .list-head{
      padding: 0px;
    }
    .checkboxes,
    .radioInputs {
      flex-wrap: wrap;
      height: 50%;
      min-height: 50px;
      position: relative;
      .submit-button{
        margin: auto;
        position: absolute;
        top: -45px;
        right: 10px;
      }
      input[type="range"] {
        width: 150px;
        ~ p {
          position: absolute;
          top: 15px;
        }
      }
    }
    &.hidden {
      height: 42px;
    }
  }
  .sortType .dropdown-list .radioInputs{
    flex-wrap: nowrap;
  }
}