.contactsSection{
    display: flex;
    align-items: center;
    padding: 50px 0;
    .contacts_wrap{
        display: flex;
        width: 77%;
        flex-direction: column;
        align-items: center;
        max-width: 1100px;
        .block{
            box-shadow: 0px 0px 42px 0px #0000000F;
            width: 850px;
            background: #FFFFFF;
            margin: 25px 0;
            padding: 25px 0;
        }
    }
    .textBox{
        text-align: center;
    }
    .imageBlock{
        height: 28px;
        width: 60px;
        img{
            transform: scaleX(0.7);
            width: 100%;
            height: 100%;
        }
    }
    .email, .adress{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin: 10px 0;
        }
        p, a{
            color: #606060;
        }
    }
    .email .textBlock{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        justify-content: space-around;
        align-content: space-between;
        align-items: center;
        height: 140px;
        a{
            text-decoration: none;
        }
    }
    .adress .textBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        p{
            margin: 2px 0;
        }
    }
}

@media screen and (max-width: 930px) {
    
}